module "public_dns" {

  source = "../.."

  create_public_dns_zone              = true
  public_dns_zone_name                = "domain.com"
  public_dns_zone_resource_group_name = "resource group name"
}